*body{
    margin: 0 auto;
    padding: 0px 0px;
}
/*.........Header.......*/
.group-menu{
}
.container{
    max-width: 1440px;
    max-height: 98px;
    padding: 10px 0px 10px 0px ;
    gap: 59px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.group-top{
    background-color: #00471b;
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 56px;
    padding: 3px 10px 2px 10px;
    gap: 10px;
    margin: 2px 0px;
}
.group-top-left i{
    margin: 20px ;
}
.group-top-right i{
    margin: 20px 20px;
}
.group-top-right input{
    background-color: #00471b;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}
.group-down{
    width: 1440px;
    height: 98px;
    justify-content: space-between;
    display: flex;
    background-color: #fff;
}
.group-down-left{
    margin: 0px 50px;
}
.group-down-right ul{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}
.group-down-right li{
    margin: 0px 10px;
}
/*.........section-1.......*/
.container{
    max-width: 1440px;
    max-height: 650px;
}
.frame-img img{
    width: 100%;
    position: relative;
    left: 5px;
}
/*........section-2......*/
.frame{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    margin: 60px auto;
    padding: 20px 20px 0px 80px;
}
.frame-left{
    padding: 0px 20px 0px 70px;
}
.frame-left img{
    background-color: #006c6c;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    position: relative;
    left: 130px;
}
.frame-left h1{
    color: #006c6c;
    text-align: center;
    position: relative;
    left: 60px;
}
.frame-left p{
    text-align: center;
    color: #006c6c;
    font-size: 26px;
    position: relative;
    left: 60px;
}
.frame-left span{
    text-align: center;
    position: relative;
    left: 60px;
}
.frame-center{
    padding: 0px 20px 0px 80px;
}
.frame-center img{
    background-color: #006c6c;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    position: relative;
    left: 130px;
}
.frame-center h1{
    color: #006c6c;
    text-align: center;
    position: relative;
    left: 90px;
    top: 10px;
}

.frame-center p{
    text-align: center;
    color: #006c6c;
    font-size: 26px;
    position: relative;
    left: 80px;
}
.frame-center span{
   position: relative;
   left: 80px;
}

.frame-right{
    width: 400px;
    height: 423px;
    padding: 0px 20px 0px 80px;
}
.frame-right img{
    background-color: #006c6c;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    position: relative;
    left: 130px;
}
.frame-right h1{
    text-align: center;
    color: #006c6c;
    position: relative;
    left: 50px;
    top: 10px;
}
.frame-right p{
    text-align: center;
    color: #006c6c;
    font-size: 26px;
    position: relative;
    left: 90px;

}
.frame-right span{
    text-align: center;
    position: relative;
    left: 80px;
}
/*........menu-3.......*/
.frame-1{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    width: 1224px;
    height: 182px;
    margin: 0px auto;
}
.frame-1-left {
    position: relative;
    left: 150px;
    font-size: 20px;
    padding: 20px 0px 20px 0px ;
    color: #006c6c;
}
.frame-1-left p{
    color: black;
    font-size: 14px;
    position: relative;
    top:20px;
}
.frame-1-right{
    position: relative;
    right: 150px;
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    color: #006c6c;
}
.frame-1-right p{
    color: black;
    font-size: 14px;
    position: relative;
    top: 20px;
}
/*.....Menu-4......*/
.group-menu-4{
  

}

.frame-2-top{
    text-align: center;
    color: #006c6c;
}
.frame-2-down img{
    width: 100%;
    padding: 40px 30px 0px 60px;
    width: 1200px;
    height: 524px;
    margin: 90px;
}
/*......Menu-5.......*/

.frame-3-top h1{
   text-align: center;
   color: #006c6c;
   padding: 100px 0px 40px 0px ;
}
.frame-3-center{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    width: 1224px;
    padding: 10px 0px 10px 0px;
    margin: 20px 90px;
    height: 74px;
}
.frame-3-center img:nth-child(1){
    background-color:#00471b ;
    color: #00471b;
    position: relative;
    bottom: 20px;
    left: 10px;
}
.frame-3-center img{
    position: relative;
    bottom: 20px;
    left: 10px;
}
.frame-3-center span{
    position: relative;
    right: 40px;
}
.frame-3-center img{
    background-color: #fdc52a;
    height: 88px;
    width: 88px;
    border-radius: 7px;
    padding: 8.8px;
}
.frame-3-down{
    background-color: #f5f5f5;
    padding: 32px 72px 32px 72px;
    margin: 30px 90px;
    height: 300px;
}
.frame-3-down span{
    font-size: 26px;
}
.frame-3-down i{
    color: #f5f5f5;
    background-color: #fdc52a;
    font-size: 20px;
    border-radius: 50px;
    margin: 0px 10px;
}
.frame-3-down p{
    position: relative;
    left: 40px;
    margin: 10px 0px;
}
/*..........Menu-6.........*/

.frame-4{
    margin: 0px auto;
    padding: 60px 0px 72px 0px ;
    width: 1440px;
    background-color: #f5f5f5;
    height: 900px;
    
}
.frame-4-top{
    color: #006c6c;
    padding: 60px 0px ;
    text-align: center;
}
.frame-4-center{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px 80px;
}
.frame-4-1{
    background-color: #fff;
    width: 404px;
    padding: 20px;
}
.frame-4-1-img{
    margin: 5px 5px;
    text-align: center;
}
.frame-4-1 p{
    text-align: center;
    font-size: 20px;
    color: #006c6c;
}
.frame-4-1 span{
    gap: 10px;
    height: 60px;
}
.frame-4-2{
    background-color: #fff;
    width: 404px;
    padding: 20px;
}
.frame-4-2-img{
    text-align: center;
    margin: 10px 10px;
}
.frame-4-2 p{
    text-align: center;
    font-size: 20px;
    color: #006c6c;
}
.frame-4-3{
    background-color: #fff;
    width: 404px;
    padding: 20px;
}
.frame-4-3-img{
    text-align: center;
    margin: 10px 10px;
}
.frame-4-3 p{
    font-size: 20px;
    color: #006c6c;
    text-align: center;
}
.frame-4-down{
    text-align: center;
    padding: 50px 0px ;
}
.frame-4-down p{
    background-color: #006c6c;
    width: 415px;
    height: 101px;
    border-radius: 56px;
    text-align: center;
    position: relative;
    left: 500px;
    color: #fff;
    padding: 24px 32px 24px 32px;
}
/*.......Menu-7.......*/
.group-menu-7{
    margin-top: 300px;
}
.frame-5-menu{
    display: flex;
}
.frame-5-top h1{
    text-align: center;
    color: #004545;
}
.frame-5-left{
    width: 230px;
    height: 561px;
    display: grid;
    padding: 0px 10px;
    margin: 50px;
}
.frame-5-left i{
    background-color: #006c6c;
    height: 187px;
    margin: -11px;
    padding: 10px;
}
.frame-5-left i:nth-child(1){
    background-color:#004545;
    height: 187px;
    color: #fff;
}
.frame-5-center{
    display: grid;
    height: 348px;
    width: 468px;
    margin: 0px 40px;
    margin: 50px  50px;
    
}
.frame-5-center-1{
    margin: 20px 20px;
    padding: 30px 10px 10px 0px ;
    font-size: 20px;
}
.frame-5-center-1 ul li{
    padding: 0px 5px 5px 0px ;
    font-size: 14px;
}
.frame-5-center-1 i{
    color: #f5f5f5;
    background-color: #006c6c;
    font-size: 20px;
    border-radius: 50px;
    margin: 0px 10px;
}
.frame-5-center-1 span{
    margin: 10px 10px ;
    padding: 10px 10px;

}
.frame-5-right img{
    position: relative;
    top: 200px;
}
.frame-5-menu{
    box-shadow: 2px 2px 2px 2px  #dddd;
}
.frame-5-down{
    background-color: #006c6c;
    color: #fff;
    height: 76px;
    width: 491px;
    text-align: center;
    position: relative;
    left: 450px;
    padding: 24px 32px 24px 32px;
    border-radius: 56px;
    margin: 40px;
    font-size: 20px;
}
/*........group-menu-8........ */
.group-menu-8{
    width: 1440px;
    margin: 0px auto;
    padding: 60px 0px 72px 0px;
}
.frame-6{
    background-color: #f5f5f5;
}
.frame-6-top{
    margin-top: 250px;
    color: #006c6c;
    text-align: center;
    padding-top: 50px;
}
.frame-6-center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 448px 448px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 10px;
}
.item-1{
    background-color: #006c6c;
    text-align: center;
}

.item-1 img{
    background-color: #006c6c;
    width: 128px;
    height: 128px;
    margin-top: 30px;
}
.item-1 p{
    color: #fff;
    margin: 30px;
}
.item-1{
    color: #fff;
}
.item-2{
    background-color: #006c6c;
    text-align: center;
}

.item-2 img{
    background-color: #006c6c;
    width: 128px;
    height: 128px;
    margin-top: 30px;
}
.item-2 p{
    color: #fff;
    margin: 30px;
}
.item-2{
    color: #fff;
}
/* item-3 */
.item-3{
    background-color: #006c6c;
    text-align: center;
}

.item-3 img{
    background-color: #006c6c;
    width: 128px;
    height: 128px;
    margin-top: 30px;
}
.item-3 p{
    color: #fff;
    margin: 30px;
}
.item-3{
    color: #fff;
}
/*item-4*/
.item-4{
    background-color: #006c6c;
    text-align: center;
}

.item-4 img{
    background-color: #006c6c;
    width: 128px;
    height: 128px;
    margin-top: 30px;
}
.item-4 p{
    color: #fff;
    margin: 30px;
}
.item-4{
    color: #fff;
}
.item-5{
    background-color: #006c6c;
    text-align: center;
}

.item-5 img{
    background-color: #006c6c;
    width: 128px;
    height: 128px;
    margin-top: 30px;
}
.item-5 p{
    color: #fff;
    margin: 30px;
}
.item-5{
    color: #fff;
}
.item-6{
    background-color: #006c6c;
    text-align: center;
}

.item-6 img{
    background-color: #006c6c;
    width: 128px;
    height: 128px;
    margin-top: 30px;
}
.item-6 p{
    color: #fff;
    margin: 30px;
}
.item-6{
    color: #fff;
}
.frame-6-down{
    width: 665px;
    height: 76px;
    background-color: #006c6c;
    margin-top: 50px;
    color: #fff;
    text-align: center;
    position: relative;
    left: 350px;
    border-radius: 56px;
    padding: 25px;
    font-size: 20px;
}
/*....menu-8......*/
.group-menu-8{
    width: 1440px;
    padding: 60px 10px 60px 10px;
    gap: 10px;
   
}
.frame-7-top{
    margin-top: 800px;
    color: #006c6c;
    text-align: center;
    padding-top: 50px;
}
.frame-7{
    background-color: #e6fafa;
}
.frame-7-down{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 384px 384px;
    width: 1224px;
    gap: 60px;
    padding-left: 250px;
    padding-top: 30px;
    height: 523px;
}
.item-7 img{
    background-color:#006c6c;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 0px auto;
}
.item-7 p{
    color: #006c6c;
    font-size: 24px;
}
.item-7 span{
    font-size: 14px;
}
.item-8 img{
    background-color: #006c6c ;
    height: 200px;
    width: 200px;
    border-radius: 100px;

}
.item-8 p{
    color: #006c6c;
    font-size: 24px;
}
.item-8 span{
    font-size: 14px;
}
.item-9 img{
    background-color: #006c6c ;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.item-9 p{
    color: #006c6c;
    font-size: 24px;
}
.item-9 span{
    font-size: 14px
}
/*.......menu-10.....*/
.group-menu-10{
    width: 1440px;
    padding: 30px 0px 50px 0px;
    gap: 60px;
    margin: 0px auto;
}
.frame-8{
    margin-top: 800px;
}
.frame-8-top{
    color: #006c6c;
    text-align: center;
}
.frame-8-center{
    display: grid;
    grid-template-columns: 653px 553px;
}
.frame-8-center h2{
    color: #006c6c;
    padding: 20px;
   
}
.frame-8-center-top h2{
     margin-top: 100px;
}
.frame-8-center h1{
    color: #006c6c;
}
.group-menu-11{
    width: 1440px;
    margin: 0px auto;
    padding: 60px 0px 80px 0px;
    gap: 60px;
}
.frame-9{
    margin-top: 750px;
    background-color: #f5f5f5;
}
.frame-9-top{
    color: #006c6c;
    text-align: center;
    height: 76px;
    padding-top: 30px;
}
.frame-9-down{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.frame-9-down-1{
    text-align: center;
    padding-bottom: 40px;
}
/*......group-menu-12.....*/
.group-menu-12{
    margin: 0px auto;
    padding: 80px 0px 80px 0px;
   
}
.frame-10{
    margin-top: 700px;
    background-color: #006c6c;
    background-image: linear-gradient(0,rgba(0,108,108,0.9),rgba(0,108,108,0.9)),
    url(/img/5.png); 

}
.frame-10-top{
    text-align: center;
    color: #fff;
}
.frame-11{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.frame-10-right{
    background-color: #fdc52a;
    border-radius: 12px;
    width: 553px;
    height: 512px;
    padding: 50px 0px 50px 0px;
    gap: 30px;
    margin-right: 50px;
    
}
#form-login{
    text-align:start;
    position: relative;
    
}
#form-login h2{
    text-align: center;
    color: #000;
}

.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    height: 44px;
    width: 500px;
    border-radius: 6px;
    gap: 10px;
    padding-left: 10px;
    border: 1px solid #ffff;
    background-color: #ffff;
    margin: 5px 5px;
}
.form-submit{
    background-color: #006c6c;
    color: #fff;
    border: 1px solid #f5f5f5;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    left: 180px;
    height: 44px;
    width: 176px;
    bottom: 25px;
}
.form-input a,img{
    position: relative;
    right: 30px;
}
.frame-10-left span{
    color: #fdc52a;
    font-size: 28px;
}
.frame-10-left{
    position: relative;
    top: 30px;
    left: 20px;
    font-size: 20px;
}
.frame-10-left ul,li{
    position: relative;
    top: 30px;
    margin: 3px 3px;
}
.frame-10-left i{
    position: relative;
    top: 150px;
    left: 20px;
}
/*....menu-13...*/
.group-menu-13{
    width: 1440px;
    padding: 30px 0px 50px 0px;
    gap: 60px;
    margin: 0px auto;
}
.frame-12{
    margin-top: 650px;
}
.frame-12-top{
    color: #006c6c;
    text-align: center;
}
.frame-12-down{
    text-align: center;
}
/*menu-14.....*/
.group-menu-14{
    margin: 0px auto;
    padding: 60px 0px 60px 0px;
}
.frame-13{
    margin-top: 350px;
}
.frame-13-top{
    text-align: center;
}
.frame-13-center{
    font-size: 20px;
    margin: 20px 70px;
    padding:10px 10px 10px 10px;
    width: 1224px;
}
.frame-13-down{
    width: 1224px;
    font-size: 14px;
    margin-left: 70px;
}
/*.....footer.......*/
#footer{
   margin: 0px auto;
   width: 1440px;
   padding: 80px 10px 80px 10px;
   gap: 10px;   
}
.frame-14{
    margin-top: 600px;
    background-color:#006c6c;
    width: 1440px;
    
}
